In [88]:
import pandas as pd

In [89]:
filename = 'tmp.csv'

In [90]:
pd.read_csv(filename)

         date\t  value
0  2020-01-01\t      1

In [91]:
pd.read_csv(filename, sep='\\\\t?,', engine='python')

         date  value
0  2020-01-01      1

参考 https://stackoverflow.com/a/45443606/8625228