In [12]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(
    {
        'dt':['1','2','3'],
        'A':[10,10,10],
        'B':[20,20,20],
        'C':[10,10,10]
    }
)
df

  dt   A   B   C
0  1  10  20  10
1  2  10  20  10
2  3  10  20  10

In [19]:
df.set_index('dt').T.apply(lambda x: x/sum(x)).T

       A    B     C
dt
1   0.25  0.5  0.25
2   0.25  0.5  0.25
3   0.25  0.5  0.25