In [43]:
import pandas as pd
import numpy as np

df = pd.read_csv("../refs/qcut_help.csv")
df2 = df.copy()

In [19]:
df.head()

   V1
0  -1
1  -1
2  -1
3  -1
4  -1

In [20]:
## 方法一

df['V1_bin_2'] = np.where(df['V1'] < 0, '-999', pd.qcut(df['V1'], q=10, duplicates='drop').astype('str'))
df['V1_bin_2'].value_counts()

-999               10000
(-1.001, 100.0]      100
Name: V1_bin_2, dtype: int64

In [21]:
df.head()

   V1 V1_bin_2
0  -1     -999
1  -1     -999
2  -1     -999
3  -1     -999
4  -1     -999

In [22]:
## 方法二

df.loc[df['V1'] < 0, 'V1'+'_bin'] = '-999'
df.loc[df['V1'] >= 0, 'V1'+'_bin'] = pd.qcut(df.loc[df['V1'] >= 0, 'V1'], q=10, duplicates='drop', precision=1)
df['V1'+'_bin']=df['V1'+'_bin'].astype('str')

df['V1_bin'].value_counts()

-999             10000
(10.9, 20.8]        10
(0.9, 10.9]         10
(70.3, 80.2]        10
(50.5, 60.4]        10
(30.7, 40.6]        10
(20.8, 30.7]        10
(60.4, 70.3]        10
(40.6, 50.5]        10
(90.1, 100.0]       10
(80.2, 90.1]        10
Name: V1_bin, dtype: int64

In [44]:
## 方法三

print(df2.head())
print(df2.describe())

   V1
0  -1
1  -1
2  -1
3  -1
4  -1
                 V1
count  10100.000000
mean      -0.490099
std        5.852631
min       -1.000000
25%       -1.000000
50%       -1.000000
75%       -1.000000
max      100.000000

In [31]:
import numpy as np

In [34]:
df2[df2 < 0] = np.nan

In [41]:
pd.qcut(df2["V1"], q=10, duplicates='drop', precision=1) \
    .cat.add_categories(['-999']) \
    .fillna('-999').value_counts()

-999             10000
(90.1, 100.0]       10
(80.2, 90.1]        10
(70.3, 80.2]        10
(60.4, 70.3]        10
(50.5, 60.4]        10
(40.6, 50.5]        10
(30.7, 40.6]        10
(20.8, 30.7]        10
(10.9, 20.8]        10
(0.9, 10.9]         10
Name: V1, dtype: int64