In [1]:
import pandas as pd

In [5]:
df_raw = pd.read_excel("../data/pivot_help.xlsx")
# df_raw.head()

In [8]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cut      276 non-null    object
 1   color    276 non-null    object
 2   clarity  276 non-null    object
 3   n        276 non-null    int64
dtypes: int64(1), object(3)
memory usage: 8.8+ KB

In [3]:
#### 衍生占比【这段代码用了两次聚合，一次merge，太麻烦了，我想要进行优化】
df_gb_cut_sum = df_raw.groupby('cut')['n'].agg(['sum']).reset_index()
df_gb_cut_color_sum = df_raw.groupby(['cut','color'])['n'].agg(['sum']).reset_index()

df_join = df_gb_cut_color_sum.merge(df_gb_cut_sum, how='left', on='cut')
df_join['prob'] = df_join['sum_x'] / df_join['sum_y']

In [10]:
df_join.head(10)

    cut color  sum_x  sum_y      prob
0  Fair     D    163   1610  0.101242
1  Fair     E    224   1610  0.139130
2  Fair     F    312   1610  0.193789
3  Fair     G    314   1610  0.195031
4  Fair     H    303   1610  0.188199
5  Fair     I    175   1610  0.108696
6  Fair     J    119   1610  0.073913
7  Good     D    662   4906  0.134937
8  Good     E    933   4906  0.190175
9  Good     F    909   4906  0.185283

In [12]:
df_raw.groupby('cut').apply(lambda x: x.groupby('color')['n'].sum()/x['n'].sum())

color,D,E,F,G,H,I,J
cut,,,,,,,
Fair,0.101242,0.139130,0.193789,0.195031,0.188199,0.108696,0.073913
Good,0.134937,0.190175,0.185283,0.177538,0.143090,0.106400,0.062576
Ideal,0.131502,0.181105,0.177532,0.226625,0.144541,0.097118,0.041576
Premium,0.116235,0.169458,0.169023,0.212022,0.171126,0.103546,0.058589
Very Good,0.125228,0.198643,0.179109,0.190283,0.150968,0.099652,0.056117